{% extends 'qa/base.html' %}

{% block title %} Question {{ questions.id }}{{ page }} {% endblock %}

{% block content %}
<h1>{{ question.title }}</h1>
<p class="submitted">
    Published {{ question.added_at }} by {{ question.author }}
  </p>

<p>{{ question.text }}</p>

<form class="form-horizontal" method="POST" action="/answer/">
      <fieldset>
	  {% csrf_token %}
	  {% for field in form %}
	  <div class="control-group
		      {% if field.errors %}has-error{% endif %}">
              <label class="control-label">{{ field.label }}</label>
              <div class="controls">{{ field }}</div>
	  </div>
	  {% endfor %}
      </fieldset>
      <div class="form-actions">
	  <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>


<h2>Answers:</h2>
<ul>
  {% for a in answers %}
  <li><div class="answer">
        <p class="info">
          Answer by {{ a.author }} [{{ a.added_at }}]
        </p>
        {{ a.text|linebreaks }}
      </div>
      {% empty %}
      <p>There are no answers yet.</p>
    </li>
  {% endfor %}
</ul>

{% endblock %}